<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Meeting</title>
    <style>
      button {
        margin-bottom: 60px;
      }
    </style>
  </head>
  <body>
    <h1>Join Meeting</h1>

    <div class="form" id="formOne">
      <input
        type="text"
        placeholder="meetingid"
        name="meetingid"
        id="meetingid"
      />
      <hr />
      <video id="video"></video>
      <hr />
      <span>to logout click on <a href="/student/logout">logout</a> </span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/studentJoinMeeting.js"></script>
  </body>
</html>
