<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Meeting</title>
  </head>
  <body>
    <h1>Create Meeting</h1>
    <a href="/teacher/logout">logout</a>
    <form action="/teacher/create_meeting" method="post">
      <input type="text" placeholder="meeting link" name="meeting_link" />
      <button type="submit">Create Meeting</button>
    </form>
    <hr />
    <p>{{ meet_id }}</p>
    <hr />
    <p><a href="/teacher/attendence_report">Attendence Report</a></p>
  </body>
</html>
